body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 800px;
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 15px;
}

/* LOGO */
.logo {
  width: 60px;
  height: auto;
  margin-bottom: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* SEARCH */
#searchBox {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* SONG BUTTONS */
.songs {
  text-align: center;
  margin-bottom: 15px;
}

.songs button {
  margin: 5px;
  padding: 8px 15px;
  background: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.songs button:hover {
  background: #1a5fd0;
}

/* LYRICS */
pre {
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 1.6;
  background: #fafafa;
  padding: 15px;
  border-radius: 5px;
}

/* DOWNLOAD BUTTONS */
button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1e7e34;
}

/* FOOTER */
.footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
/* titel */
.subtitle {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: -5px;
}
